* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header section */
.header-section {
    background-color: #c4b3b3;
    background-image: url(./images/header_bg.png), url(./images/developer.png);
    background-position: bottom right, left;
    background-repeat: no-repeat;
}
.span-color {
    color: orangered;
}
.navbar {
    display: flex;
    justify-content: space-between;   
}
.nav-menu {
    display: flex;
    /* justify-content: space-around; */
    /* margin-top: 30px; */
    align-items: center;
    margin: 50px 120px;
}
.nav-title {
    margin-left: 120px;
    margin-top: 30px;
    font-size: 60px;
}
ul li{
    list-style: none;
    margin-right: 20px;
    font-size: 22px;
    align-items: center;
    color: #161414;
    font-weight: 600;
}
.btn-primary {
    font-size: 24px;
    background: #FD6E0A;
    padding: 5px 15px;
    font-weight: 600;
    height: 50px;
}
.welcome-section{
    margin: 220px 120px;
    
    
}
.welcome-title{
    margin-top: 10px;
    margin-bottom: 20px;


}
.name-title{
    /* margin-top: 10px; */
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 45px;
}
.name-title-description{
    margin-top: 10px;
    margin-bottom: 20px;
}
.welcome-section .btn-primary{
    margin-bottom: 20px;
    margin-right: 60px;
    padding: 0 30px;
}
/* header banner */
.header-banner{
    display: flex;
}
.head-img{
    width: 320px;
    height: 400px;
    margin-top: 290px;
    margin-right: 60px;
}
.about-container{
    margin: 30px 5px;
    padding: 5px 10px;
    background: #9fbec2ce;
}
.about-head{
    font-weight: 600;
    font-size: 28px;
    text-align: center;
    margin: 40px 120px;
}
.about-me-description{
    font-weight: 400;
    font-size: 22px;
    text-align: center;
    margin: 40px 120px;

}
.main-container{
    display: flex;
    gap: 70px;
    
    

}
.main-contact{
    margin: 20px 40px;
    
}
.name{
    margin-bottom: 10px;
    font-size: 20px;
}
.desc{
    font-size: 18px;
}
/* what i do */
.What-i-do{
    margin: 40px 5px;
    background: #c4b3b3;
}

.wid-title{
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    margin-bottom: 20px;
}
.wid-para{
    font-weight: 500px;
    font-size: 18px;
    margin: 30px 60px;

}
/* skill section */
.skill-container{
    display: flex;
    gap: 10px;
    margin: 20px 60px;
    font-size: 18px;
}
.skill{
    margin-bottom: 30px;
}
.summery-container{
    display: flex;
    gap: 15px;
}
.edu-history{
    margin: 5px 10px;
    padding: 10px;
}
.summery{
    font-size: 28px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}
.edu-title{
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 20px;
}
.edu-para{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10;
    
}
.vsity{
    margin-top: 5px;
}
.btn-cv-primary{
    height: 54px;
    font-size: 18px;
    margin-left: 50%;
    margin-right: 50%;
    margin-bottom: 20px;
    margin-top: 30px;
    width: 140px;
    border: none;
    background: #FD6E0A;
    border-radius: 10px;
}
.contact-container{
    display: flex;
    gap: 30px;
    margin: 30px 5px;
    /* align-items: center; */
    background: #c48888;
}
.lets-connect{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
}
.lets{
    margin-bottom: 20px;
    font-size: 24px;
    margin-top: 20px;
}
.message{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
    margin-left: 30px;

}
.t-area{
    margin-top: 30px;
    border-radius: 10px;
}
.ip{
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
}
.mge{
    height: 54px;
    font-size: 18px;
    
    margin-bottom: 20px;
    margin-top: 30px;
    width: 140px;
    border: none;
    background: #FD6E0A;
    border-radius: 10px;
}
.img-logo{
    margin-top: 20px;
    margin-bottom: 30px;
   
    
}
.logo-1{
    margin-right: 30px;
    border-radius: 10px;
}
.logo-2{
    margin-right: 30px;
    border-radius: 10px;
}

.logo-3{
    margin-right: 30px;
    border-radius: 10px;
}
.img-logo a{
    text-decoration: none;
    
}